.live-map {
    flex-grow: 6;
    height: 700px;
}

.marker {
    background: red;
    color: #FFFFFF;
    font-weight: bolder;
    width: 40px;
    text-align: center;
    border: 1px black solid;
    border-radius: 10px;
}